# My files
kernel/br-abnt2.map
kernel/bzImage
kernel/linux-5.3.2/
kernel/busybox-1.31.0/
kernel/distro/bin/
kernel/distro/usr/share/
kernel/distro/init
kernel/distro/run-init
kernel/build
kernel/linux
*.cpio
*.bz2
*.xz


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
